<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <title>Todo Person</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css" rel="stylesheet" type="text/css"/>


    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div class="container mx-auto">
    <section class="grid place-items-center  h-dvh">
        <div class="w-96 p-6 rounded-md sm:p-10 dark:bg-gray-900 dark:text-gray-100">
            <div class="mb-8 text-center">
                <h1 class="my-3 text-4xl font-bold">Add Todo List</h1>
            </div>
            <form novalidate="" action="/todo/add" method="post" class="space-y-12">
                <div class="space-y-4">
                    <div>
                        <label for="task" class="block mb-2 text-sm">Task</label>
                        <input id="task" name="task" type="text" placeholder="Type your task here" class="input input-bordered w-full max-w-xs"/>
                    </div>
                    <div>
                        <label for="description" class="block mb-2 text-sm">
                            Description
                        </label>
                        <textarea id="description" name="description" class="textarea w-full"
                                  placeholder="Bio"></textarea>
                    </div>
                </div>
                <div>
                    <label for="isDone" class="block mb-2 text-sm">
                        Is Done
                    </label>
                    <select id="isDone" name="isDone" class="select select-bordered w-full max-w-xs">
                        <option value="yes" disabled selected>Is it done?</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <input type="hidden" name="createdAt" value="2024-03-15T17:55:03.240658">
                <div class="space-y-2">
                    <div>
                        <button type="submit" class="btn btn-success text-gray-50">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="flex justify-center w-full pe-[15rem]">
            <a href="/" class="btn btn-success ">Back to List</a>
        </div>
    </section>

</div>
</body>

</html>
